
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}


.form-container h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.form-container p {
    color: gray;
    font-size: 14px;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-size: 14px;
    margin: 10px 0 5px;
}

input, select {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


button {
    background: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #333;
}

.login-link {
    margin-top: 10px;
}

.login-link a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
